<h1>This is the page where all of a user's annotations are shown</h1>

<% @annotations.each do |annotation| %>
	<div class="annotation_wrapper">
		<p class="quote"><%= link_to annotation.quote, annotation %></p>
		<p class="note"><%= annotation.note %></p>
	</div>

<% end %>
