<h1>This is the page where all of a user's annotations are shown</h1>

<% @annotations.each do |annotation| %>
	<div class="annotation_wrapper">
		<p><strong>Quote: </strong><%= annotation.quote %></p>
		<p><strong>Note: </strong><%= annotation.note %></p>
		<p><strong>Notebook: </strong> <%= annotation.notebook.name %> </p>
		<p> <%= link_to 'Show Details', annotation %></p>
	</div>

<% end %>
