<h1>This is the external page on which a user creates an annotation</h1>
<p>A selected (highlighted) sentence is passed into the backend as "quote", on which user annotates:</p>

<%= render 'form' %>
