<h1>This is the page where a user's single annotations is shown</h1>

<p>Quote: <%= @annotation.quote %></p>
<p>Note: <%= @annotation.note %></p>
<p>Created <%= time_ago_in_words(@annotation.created_at) %> ago</p>



